[defaults]
host_key_checking = no


[ssh_connection]

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use 
# paramiko on older platforms rather than removing it
ssh_args = -o StrictHostKeyChecking=no 